<dmc-block-list [blockItems]="blockItems"
    [labelNoResults]="'No hay datos que mostrar'"
    [previousLabel]="'previo'"
    [nextLabel]="'Siguiente'"
    [pagination]="5"
    [showHeader]="true"
    [showActions]="true"
    [showInfoAdditional]="true"
    (actionSelected)="getAction($event)"
    (ItemSelected)="selectItem($event)">

    <ng-template #templateInfoAdditional
        let-item="item">
        <span>{{item.date | date: 'dd/MMM/yyyy'}}</span>
    </ng-template>
    <ng-template #templateHeader
        let-item="item">
        <span>{{item.client}}</span>
    </ng-template>
    <ng-template #templateData
        let-item="item">
        <dmc-block-data-item label="Estado"
            [value]="item.status"></dmc-block-data-item>
        <dmc-block-data-item label="Edad"
            [value]="item.age"></dmc-block-data-item>
    </ng-template>

</dmc-block-list>