dmc-block-list-item .block-item {
    min-width: 200px;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

dmc-block-list-item .block-item:hover {
    background: #d2fffd;

}

dmc-block-list-item .actions {
    position: absolute;
    top: 20px;
    right: 5px;
    text-align: center;
}

dmc-block-list-item .actions i {
    cursor: pointer;
    width: 25px;
    font-size: 20px;

}


dmc-block-list-item ul.options-panel {
    position: absolute;
    top: 25px;
    right: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid #000;
    min-width: 200px;
    z-index: 999;
    border-radius: 4px;
    background: #fff;

}

dmc-block-list-item ul.options-panel li {
    padding: 5px;
    text-align: left;
}

dmc-block-list-item ul.options-panel li:hover {
    background: lightseagreen;
    cursor: pointer;
}

dmc-block-list-item .info-additional {
    margin: auto;
    font-size: 14px;
}

dmc-block-list-item ul.options-panel li:hover:first-child {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

dmc-block-list-item ul.options-panel li:hover:last-child {
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}