<lib-dmc-toast-new [timeout]="1000"></lib-dmc-toast-new>

<button (click)="addInfo()">Mensaje de info</button>
<button (click)="addError()">Mensaje de info</button>
<button (click)="addWarning()">Mensaje de info</button>
<button (click)="addSuccess()">Mensaje de info</button>