dmc-block-data-item .dmc-block-data-item {
    display: inline-block;
    margin-right: 10px;
}

dmc-block-data-item .dmc-block-data-item .label {
    color: #c8c8c8;
    font-size: 14px;
}

dmc-block-data-item .dmc-block-data-item .value {
    color: #000;
    font-size: 12px;
}