<div>
    <h3>
        Ejemplo 1: nulo
    </h3>
    <div>
        {{valoresNulo | dmcJoin}}
    </div>
    <h3>
        Ejemplo 2: valores separados con , (no indicando el parametro)
    </h3>
    <div>
        {{valores | dmcJoin}}
    </div>
    <h3>
        Ejemplo 3: valores separados con separador (|)
    </h3>
    <div>
        {{valores | dmcJoin:'|'}}
    </div>
</div>