dmc-dmc-spinner-new .overlay, dmc-dmc-spinner-new .overlay-embedded {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, .6);
    cursor: default;
}

dmc-dmc-spinner-new .overlay {
    position: fixed;
}

dmc-dmc-spinner-new .overlay-embedded {
    position: absolute;
}

dmc-dmc-spinner-new .spinner, dmc-dmc-spinner-new .spinner-embedded {
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
}

dmc-dmc-spinner-new .spinner {
    position: fixed;
}

dmc-dmc-spinner-new .spinner-embedded {
    position: absolute;
}