dmc-dropdown .dmc-dropdown {
    min-width: 100%;
    position: relative;
}

dmc-dropdown .form-control:read-only {
 background: #fff;
 cursor: pointer;
}

dmc-dropdown input:focus {
    outline: 0px;
    -webkit-appearance: none;
    box-shadow: none !important;
}

dmc-dropdown .dmc-dropdown button {
    height: 100%;
    width: 32px;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    right: 0px;
    z-index: 999;
}

dmc-dropdown .panel-items {
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

dmc-dropdown .panel-items ul {
    margin: 0px;
    padding: 0px;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #c8c8c8;
    border-top: 0px;
}

dmc-dropdown .panel-items ul li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
}
dmc-dropdown .panel-items ul li:hover {
    background: #aefff48c;
}

dmc-dropdown .no-results {
    padding: 5px;
    border: 1px solid #c8c8c8;
    font-size: 11px;
    font-style: italic;
}

dmc-dropdown .dmc-dropdown input {
    border-radius: 0px;
    outline: 0px;
}

dmc-dropdown .input-group-append {
    margin-left: 0;
}