<div>
    {{'Modo Actual:' + (embedded ? 'Embebido': 'No está embebido')}}
</div>

<button (click)="activarSpinner()">Activar spinner</button>
<button (click)="cambiarModo()">Cambiar modo</button>

<div class="embedded">
    <dmc-dmc-spinner-new *ngIf="embedded"
        [embedded]="true"></dmc-dmc-spinner-new>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, quo vitae dolorum eligendi, consequatur porro
        dolores ea quae rem, molestiae eaque voluptate. Dignissimos quaerat autem, aut rem omnis rerum ratione?</p>
</div>

<dmc-dmc-spinner-new *ngIf="!embedded"></dmc-dmc-spinner-new>