<div class="showcase">
    <div class="menu">
        <a [routerLink]="[ '/dmc-example' ]"> DMC example |</a>
        <a [routerLink]="[ '/dmc-join-pipe' ]"> DMC join pipe |</a>
        <a [routerLink]="[ '/dmc-spinner' ]"> DMC spinner |</a>
        <a [routerLink]="[ '/dmc-toast' ]"> DMC toast |</a>
        <a [routerLink]="[ '/click-outside' ]"> Click outside |</a>
        <a [routerLink]="[ '/dropdown' ]"> Dropdown |</a>
        <a [routerLink]="[ '/load-iframe' ]"> Load iframe |</a>
        <a [routerLink]="[ '/detail-menu' ]"> Detail menu |</a>
        <a [routerLink]="[ '/block-list' ]"> Block list |</a>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>