<button (click)="toggleEnabled()">{{ enabled ? 'Desactivar' : 'Activar'}}</button>
<button *ngIf="!delay"
    (click)="setDelay(2000)">Set delay 2000</button>
<button *ngIf="delay"
    (click)="removeDelay()">Removed delay</button>

<div dmcClickOutside
    [clickOutsideEnabled]="enabled"
    [clickOutsideDelay]="delay"
    (clickOutside)="clickOutside($event)"
    class="block">
    <p>Click outside on div</p>
</div>