<div class="row">
    <div class="col-2 mt-4">

        <dmc-dropdown [valueSelect]="valueSelect"
            [options]="options"
            [labelNoResults]="'No hay resultados que mostrar filtrando'"
            (selectValue)="selectItem($event)">
            <ng-template let-item="item">
                {{item.label + ' - ' + item.value}}
            </ng-template>

        </dmc-dropdown>
        <p>Este texto no se va a ver cuando se abra el dropdown</p>
    </div>
</div>