<div class="row dmc-block-list">
    <div class="col-12">
        <div class="row"
            *ngIf="!blockItems || !blockItems.length">
            <div class="col-12 text-center">
                <span>{{labelNoResults}}</span>
            </div>
        </div>
        <div class="row"
            *ngIf="blockItems?.length">
            <div class="col-12">
                <dmc-block-list-item
                    *ngFor="let blockItem of blockItems | paginate: { itemsPerPage: pagination, currentPage: page }; let index=index"
                    [templateHeader]="templateHeader"
                    [templateData]="templateData"
                    [templateInfoAdditional]="templateInfoAdditional"
                    [blockItem]="blockItem"
                    [id]="index"
                    [showHeader]="showHeader"
                    [showInfoAdditional]="showInfoAdditional"
                    [showBorder]="showBorder"
                    [showActions]="showActions"
                    (actionSelected)="sendAction($event)"
                    (closeOptions)="closeAllOptionsExcept($event)"
                    (click)="selectItem(blockItem)"></dmc-block-list-item>
            </div>
        </div>

        <!-- Pagination -->
        <div class="row"
            *ngIf="blockItems.length > pagination">
            <div class="col-12 p-4 text-center">
                <pagination-controls [previousLabel]="previousLabel"
                    [nextLabel]="nextLabel"
                    (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>