dmc-detail-menu .dmc-detail {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    padding: 15px;
    border: 1px solid #000;
    z-index: 9999;
    height: 100%;
}


dmc-detail-menu .dmc-detail .close {
    font-size: 26px;
    cursor: pointer;
}

dmc-detail-menu .overlay {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, .6);
    cursor: default;
    position: fixed;
}

@media (min-width: 992px) {
    dmc-detail-menu .dmc-detail {
        width: 40%;
    }
}

@media (max-width: 992px) {
    dmc-detail-menu .dmc-detail {
        width: 100%;
    }
}