<div class="container-toast">
    <div [@overlayAnimation]="{value: 'visible'}"
        class="dmc-toast"
        [ngClass]="'bg-' + toast.status"
        *ngFor="let toast of dmcToastService.toasts">
        <div class="dmc-toast-title">
            <div class="dmc-toast-title-message text-light">
                <span class="dmc-toast-title-message">{{toast.title}}</span>
                <i class="fa fa-times dmc-toast-title-icon"
                    (click)="dmcToastService.closeToast(toast)"></i>
            </div>
        </div>
        <div class="ddr-toast-content text-light">
            <span>{{toast.message}}</span>
        </div>
    </div>
</div>