lib-dmc-toast-new .container-toast {
    position: absolute;
    top: 10px;
    right: 10px;
}

lib-dmc-toast-new .dmc-toast {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
}

lib-dmc-toast-new .dmc-toast-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;    
}

lib-dmc-toast-new .dmc-toast-title i {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
}

lib-dmc-toast-new .dmc-toast-title-message {
    width: 270px;
    display: inline-block;
    font-size: 18px;
}

lib-dmc-toast-new .dmc-toast-title-icon {
    width: 10px;
    display: inline-block;
}

lib-dmc-toast-new .dmc-toast-content {
    padding: 5px 0px;
    font-size: 14px;
}